@import url("../fontello/animation.css");  
@import url("../fontello/fontello-codes.css");  
@import url("../fontello/fontello-embedded.css");  
@import url("../fontello/fontello-ie7-codes.css");  
@import url("../fontello/fontello-ie7.css");  


@font-face {
  font-family: 'fontello';
  src: url('http://www.munfactory.com/');
  src: url('http://www.munfactory.com/#iefix') format('embedded-opentype'),
       url('../fontello/fontelloa9bd.woff?94538827') format('woff'),
       url('http://www.munfactory.com/') format('truetype'),
       url('http://www.munfactory.com/#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fontello/fontello.svg?94538827#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-flickr:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-email:before { content: '\e80e'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-instagram:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-doc:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-beaker:before { content: '\e803'; } /* '' */
.icon-food:before { content: '\e805'; } /* '' */
.icon-shop:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e806'; } /* '' */
.icon-reply:before { content: '\e808'; } /* '' */