/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col, .post > div {
    border: 0px solid rgba(0,0,0,0);
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
}



/* 1. 1 Column Grid 0px - 319px 
----------------------------------------------------------------------------- 

col_1:    100%

----------------------------------------------------------------------------- */

@media screen and (min-width: 0px) and (max-width: 319px) {
        
    .col {
        margin-left: 0%;
        padding: 0 10px;
    }

    .row .col:first-child {
        margin-left: 0;
    }

    .col_1, .social, .top-search, #nav, .slider-warp, .aside, #primary, .fb-widget {
        margin-left: 0;
        width: 100%;
    }
}

/* 2. 2 Column Grid 320px - 959px 
----------------------------------------------------------------------------- 

col_1 1:    50.0%
col_2 2:    100%

----------------------------------------------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 639px) {
        
    .col {
        margin-left: 0%;
        padding: 0 10px;
    }

    .row .col:first-child {
        margin-left: 0;
    }

    .col_1, .social {
        width: 50.0%;
    }

    .col_2, .slider-warp, #primary, .aside, #nav, .top-search, .fb-widget {
        margin-left: 0;
        width: 100%;
    }
}

/* 3. 3 Column Grid 960px - Infinity 
----------------------------------------------------------------------------- 

col_1 1:    33.3333333333%
col_2 2:    66.6666666667%
col_3 3:    100%

----------------------------------------------------------------------------- */

@media screen and (min-width: 640px) {
        
    .col {
        margin-left: 0%;
        padding: 0 10px;
    }

    .row .col:first-child {
        margin-left: 0;
    }

    .col_1, .social, .top-search, #nav, .aside, .fb-widget {
        width: 33.3333333333%;
    }

    .col_2, .slider-warp, #primary {
        width: 66.6666666667%;
    }

    .col_3 {
        margin-left: 0;
        width: 100%;
    }
}
/* IE8 Fixes

================================================== */
.ie8 .col_1, .ie8 .social, .ie8 .top-search, .ie8 .aside, .ie8 .fb-widget {
        width: 33.3333333333%;
    }

   .ie8 .col_2, .ie8 #primary {
        width: 66.6666666667%;
    }

   .ie8 .col_3, .ie8 .slider-warp, .ie8 #nav {
        margin-left: 0;
        width: 100%;
    }

